<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome Admin</title>
<link href="admin.css" rel="stylesheet">
</head>
<body>
<h1>Welcome Admin</h1>

<form action="map-songs">
	<input type="submit" value="ADD SONGS">
	</form>
	
	<!-- <a href="newsong"> Add a new song </a> -->
	
	<br><br>
	
	<form action="map-viewsongs">
	<input type="submit" value="VIEW SONGS">
	</form>
	
	<br><br>
	
	<form action="createplaylist">
	<input type="submit" value="CREATE PLAYLIST">
	</form>
	
	<br><br>
	<form action="viewPlaylists">
	<input type="submit" value="VIEW PLAYLISTS">
	</form>
	
	<br><br>
	<form action="logout">
	<input type="submit" value="LOGOUT">
	</form>
</body>
</html>